<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="h1">Formulario</h1>
    <form action="/submit" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        <input type="submit" value="Enviar">
    </form>
    <nav>
        <a href="/">Inicio</a>
    </nav>
</body>
</html>
