
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo de web avanzada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Página de Desarrollo de web avanzada</h1>
        <nav>
            <a class="nav-link" href="/">Inicio</a>
            <a class="nav-link" href="/api">Acerca de</a>
            <a class="nav-link" href="/form">Formulario</a>
        </nav>
    </header>
    <main>
        <h2>Bienvenidos</h2>
        <p>Desarrollo de web avanzada</p>
        <p>NRC: 14567</p>
        <div class="creators">
            <h3>Creadores:</h3>
            <p class="creator">Dome</p>
            <p class="creator">Alesso</p>
            <p class="creator">Leo</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Página con Fask y Gunicorn</p>
    </footer>
</body>
</html>
